.auth-page{
  min-height: 100vh;
  background: var(--light);
  padding: 150px 50px 70px 50px;
}

.auth-card{
  width: 100%;
  max-width: 520px;
  background: #fff;
  border-radius: 16px;
  padding: 28px;
  box-shadow: 0 20px 40px rgba(10,57,86,0.08);
  margin: 0 10px;
}

.auth-wrapper .auth-card{max-width: 600px;}
.auth-wrapper.wrapper-width .auth-card{max-width: 520px;}
.auth-wrapper .navbar{background-color: var(--primary);}
.auth-wrapper .navbar .search_box{display: none !important;}

.auth-card .logo{
  width: 170px;
}
.auth-card form label{font-size: 15px; font-weight: 500; margin-bottom: 5px;}
.auth-card h1{font-size: 27px; font-weight: 600;}
.auth_header p{font-size: 16px;}
.mode-switch{
  display: flex;
  background: #f3f5f7;
  border-radius: 12px;
  padding: 6px;
}

.auth-card a:hover{color: var(--secondary) !important;}

.mode-switch button{
  flex: 1;
  border: none;
  background: transparent;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
  color: var(--dark);
}

.mode-switch button.active{
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  color: var(--secondary);
}

.role-switch{
  display: flex;
  gap: 10px;
}

.role-switch button{
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: #fff;
}

.role-switch button.active{
  background: var(--secondary);
  color: #fff;
  border-color: var(--secondary);
  font-weight: 600;
}



.role-card {
  border: 2px solid #ddd;
  padding: 20px;
  flex: 1;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.role-card:hover {
  border-color: var(--primary);
  background: #f8f9ff;
}

.role-card.active{border: 2px solid var(--primary);}

/* Hide default radio */
.role-card input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;
}

/* Checked state */
.role-card input[type="radio"]:checked {
  border-color: var(--primary);
}

/* Inner dot */
.role-card input[type="radio"]:checked::after {
  content: "";
  width: 10px;
  height: 10px;
  background: var(--primary);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Optional hover */
.role-card:hover input[type="radio"] {
  border-color: var(--primary);
}


.btn-primary{
  background: var(--secondary) !important;
  border-color: var(--secondary) !important;
}

.btn-primary:hover{
  background: var(--dark) !important;
  border-color: var(--dark) !important;
}

.btn-blue{
  background: var(--primary) !important;
  border-color: var(--primary) !important;
  color: #fff !important;
}
.btn-blue:hover{
  background: var(--primary) !important;
  border-color: var(--primary) !important;
  color: #fff !important;
}

.form-control,
.form-select{
  border-radius: 8px !important;
  height: 45px;
}

.form-control:focus{box-shadow: none !important; border-color: var(--secondary) !important;}
.form-select:focus{box-shadow: none !important; border-color: var(--secondary) !important;}

.auth-card input::placeholder{color: #9ca3af;}
.auth-card select{color: #9ca3af;}
.auth-card select::placeholder{color: #9ca3af;}

.terms a{
  color: var(--secondary);
  text-decoration: none;
}


.input-icon{
  position: relative;
}

.input-icon svg{
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
}

.input-icon .form-control,
.input-icon .form-select{
  padding-left: 42px;
}



.password-field {
  position: relative;
}

.password-field .eye {
  position: absolute;
  right: 45px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #9ca3af;
}

.password-field .form-control {
  padding-left: 42px;
  padding-right: 42px;
}


.custom-select {
  position: relative;
}

.select-input {
  height: 48px;
  border: 1px solid #dee2e6;
  border-radius: 50px;
  padding: 0 14px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  background: #fff;
}

.select-input span {
  flex: 1;
  font-size: 16px;
}
.select-input svg{ color: #9ca3af;;}

.select-input .placeholder {
  /* color: #9ca3af; */
  background-color: #fff;
}

.select-input .arrow {
  color: #6b7280;
}

.select-input.open {
  border-color: var(--secondary);
  /* box-shadow: 0 0 0 2px rgba(26, 89, 133, 0.15); */
}

.select-dropdown {
  position: absolute;
  width: 100%;
  top: calc(100% + 6px);
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  max-height: 250px;
  overflow-y: auto;
  z-index: 10;
}

.select-option {
  padding: 10px 14px;
  font-size: 14px;
  cursor: pointer;
}

.select-option:hover {
  background: var(--light_blue);
}

/*------ Find Job ----*/
 .job_hero{
 background:  var(--secondary);
 padding: 110px 0 80px 0;
 color: #fff;
}
.upskill_page .job_hero{
  padding: 110px 0 20px 0 !important;
}
.blue_nav .navbar {background-color: #252525 ;}
/* .blue_nav .navbar {background-color: var(--primary) !important;} */

.blue_nav .navbar .nav-link{color: #fff !important;}
.blue_nav .navbar .nav-link:hover{color: var(--secondary) !important;}
.blue_nav .navbar .nav-link.active{color: var(--secondary) !important;}

.quick-search {
  background: #f8f9fb;
  font-size: 15px;
}

.quick-search span.text-muted{font-size: 16px;font-weight: 600;}

.qs-link {
  margin-right: 18px;
  color: #747272;
  text-decoration: underline !important;
  transition: 0.3s;
}

.qs-link:hover {
  text-decoration: underline;
  color: #ef3a3a;
}

.job_hero input{border-radius: 4px !important; height: 55px;}
.job_hero select{border-radius: 4px !important; height: 55px;}
.job_hero input:focus{border: 1px solid var(--primary) !important;}
.job_hero select:focus{border: 1px solid var(--primary) !important;}
.hire_now{background-color: #f7f7f7;}
.hire_now .filter_card{
   position: relative !important;
    top: unset !important;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    /* border: 1px solid var(--secondary); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home_filter_wrapper .filter_card {margin-top: -170px; }

 .filter_card{
    margin-top: -140px;
    background: #c4f5ff;
    position: relative !important;
    top: unset !important;
}

.filter_checks .form-check-label{font-size: 14px; margin: 0 !important;}
.filter_checks .form-check{margin: 0 !important;}

.filter_checks{
    background: #fff;
    min-height: 45px;
    border-radius: 6px;
    padding: 5px 10px;
    align-items: center;
    border: 1px solid #dee2e6;
}

.filter_card .btn{background-color: var(--secondary); color: #fff; height: 45px;}

.filter_card .btn:hover{background-color: #fff; border-color: var(--secondary); color: var(--secondary); }

.view_toggle button {
  border: 1px solid #ddd;
  background: #fff;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view_toggle button.active {
  background: var(--primary);
  color: #fff;
  border-color: var(--primary);
}

/* LIST VIEW */
.list_view {
  flex-direction: row;
  align-items: center;
}
.list_view1{
  flex-direction: row;
  align-items: end;
}

.list_view .job_info {
  flex: 1;
}

.list_view .job_actions {
  flex-direction: row;
}

.grid_view{flex-direction: column; align-items: start;}

.form-check-input{border-color: var(--secondary) !important;}
.form-check-input:checked{background-color: var(--secondary) !important; border-color: var(--secondary) !important;}
.form-check-input:focus{box-shadow: none !important;}

.filter_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.filter_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.filter_content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-radius: 16px 16px 0 0;
  padding: 20px;
  max-height: 85%;
  overflow-y: auto;
  animation: slideUp 0.3s ease;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}



/* BADGES ROW */
.badges_row {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

/* INDIVIDUAL BADGE */
.badge_item {
  font-size: 11px;
  padding: 5px 10px;
  border-radius: 6px;
  background: #f1f5f9;
  color: #333;

  font-weight: 500;
  border: 1px solid #e2e8f0;
  transition: 0.3s;
}
.badge_item svg{color: var(--green);}

.badge_item:hover {
  background:#e8f1fa ;
  border-color: #e8f1fa;
}

.verified_badge{color: var(--green); font-weight: 600; font-size: 15px;}
.contact_info .small{font-size: 15px !important;}

/*--- Redirecting CSS ---------*/

.redirect-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
}


/*----- Job Detail page ------*/
.single_page{
  background-color: #f5f5f5;
}
.btn-badge {
    background-color: var(--secondary) !important;
    color: #fff !important;
    font-size: 12px !important;
}
.similar_job_card h6 {
    font-size: 19px;
    color: #000;
}

.job_detail_card {
  background: #fff;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 10px;
}

.job_logo_big {
  width: 60px;
  height: 60px;
  background: var(--light);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.similar_job_card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  transition: 0.3s;
}
.similar_job_card .badge{ background-color: #ebebeb !important;}

.similar_job_card:hover {
  border-color: var(--primary);
}


/* Banner */
.job_banner img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  background-color: var(--light);
  border-radius: 12px;
}

.job_swiper .swiper-pagination-bullet {
  background: #9b9a9a !important;
  opacity: 0.6 !important;
}

.job_swiper .swiper-pagination-bullet-active {
  background: var(--secondary) !important;
  opacity: 1 !important;
}

/* Card */
.job_detail_card {
  background: #fff;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 12px;
  overflow: hidden;
}

/* Logo */
.job_logo_big img {
  width: 60px;
  height: 60px;
  background: #f3f4f6;
  border-radius: 12px;
  object-fit: cover;
}

/* Company */
.company_name {
  font-size: 15px;
  color: var(--secondary);
  text-transform: capitalize;
  /* color: #6b7280; */
}

/* Dot */
.dot {
  width: 4px;
  height: 4px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
}

/* Meta */
.job_meta p {
  margin-bottom: 6px;
  /* font-size: 14px; */
  /* colorgb(1, 1, 2)563; */
}

/* Buttons */
.apply_btn_big {
  background: var(--primary);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
}

.save_btn {
  background: #f3f4f6;
  padding: 10px 20px;
  border-radius: 8px;
}

/* Highlights */
.job_highlights {
  padding-left: 18px;
}

.job_highlights li {
  margin-bottom: 6px;
}

/* Description */
.description_long {
  color: #4b5563;
  font-size: 14px;
  line-height: 1.6;
}


.job_description {
  line-height: 1.6;
}

.job_description p {
  margin-bottom: 0px !important;
  word-wrap: break-word;
}

.job_description ul,
.job_description ol {
  padding-left: 18px;
  margin-bottom: 10px;
}

.job_description li {
  margin-bottom: 6px;
}

.job_description_wrapper {
  position: relative;
}

.job_description {
  line-height: 1.6;
  transition: all 0.3s ease;
}

.job_description.clamped {
  max-height: 130px; /* adjust if needed */
  overflow: hidden;
  position: relative;
}

/* .job_description.clamped::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, transparent, #fff);
} */



.card_right{
  background-color: #c4f5ff;
}
.card_right svg {
  flex-shrink: 0;
}

.job_detail_card.card_right {
    position: sticky;
    top: 110px;
}



/*--- MEDIA QUERIES ---------*/

@media (max-width:991px) {
.job_detail_card.card_right {
    position: relative;
    top: unset;
}

}
@media (max-width:575px) {
   .hire_now .filter_card{position: relative !important; top: unset !important;}
}

@media (max-width:475px) {
   .job_card_body.list_view{
    flex-direction: column; align-items: start;
   }

   .job_card_body.list_view .job_actions{
    margin-left: unset !important;
   }
}

@media (max-width:350px) {
   .auth-card{padding: 25px 18px !important;}
   .auth-card h1 { font-size: 22px;}
}